<% include partials/header %>

<section class="title pl-2">
  <h2>A carpooling app for skiers and snowboarders</h2>

</section>

<section class="center">
  <h2 class="what">I want to: </h2>
  <section class="buttons">
    <a href="/index" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">See Riders</a>
    <a href="/post" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">Post Where I'm Going</a>
  </section>
</section>

<br>


<main class="container">

  <section class="row">
    <% for(data of all_data.reverse()) { %>
    <section class="col-container">
      <section class="col">
        <section class="card">
          <section class="card-body">
            <h4 class="card-title">

              <strong>
                <h1 class="d-flex justify-content-center" style="color: #318ac4;">
                  <%= data.full_name %>
                </h1>
                <hr>

                <h4>
                  <strong class="mountain">Mountain: &nbsp
                    <i>
                      <%= data.mountain %>
                    </i>
                </h4>
              </strong>

              <h4>
                <strong class="mountain">&nbsp
                  <img height="30" width="30" src="./images/ig.png" alt="">
                  <i>
                    &nbsp
                    <%= data.insta %>
                  </i>
              </h4>
              </strong>

              <section class="row">
                <section class="col">
                  <h5>
                    <hr>
                    <strong>I have room for:</strong>
                    <%= data.passengers %>
                    <hr>
                  </h5>
                </section>

                <section class="col">
                  <h5>
                    <hr>
                    <strong>Contact:</strong>
                    <%= data.phone_number %>
                    <hr>
                  </h5>
                </section>
              </section>


              <section class="row">
                <section class="col">
                  <h5>
                    <strong>Date Going:</strong>
                    <%= data.date.toDateString() %>
                  </h5>
                </section>
                <section class="col">
                  <h5>
                    <strong>Time Leaving:</strong>
                    <%= data.time %>
                  </h5>
                </section>
              </section>
              <section class="message">
                <h5>
                  <hr>
                  <strong>Message:</strong>
                  <%= data.message %>
                  <hr>
                </h5>
              </section>
          </section>
        </section>
      </section>
      <br>
    </section>
    <%}%>
  </section>
  </section>
</main>
</section>


<% include partials/footer %>