<% include partials/header %>

<section class="title">
  <h1>Where Yo Friends At?</h1>
</section>

<section class="center">
  <h2 class="what">I want to: </h2>
  <section class="buttons">
    <a href="/index" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">See Riders</a>
    <a href="/post" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">Post Where I'm Going</a>
  </section>
</section>




<main class="container">

  <section class="row">
    <% for(data of all_data.reverse()) { %>
    <section class="col-container">
      <section class="col">
        <section class="card">
          <section class="card-body">
            <h4 class="card-title">

              <strong>
                <h1 class="d-flex justify-content-center" style="color: #318ac4;">
                  <%= data.full_name %>
                </h1>

                <h4>
                  <strong>Mountain:</strong>
                  <i>
                    <%= data.mountain %>
                  </i>
                </h4>
              </strong>


              <section class="row">
                <section class="col">
                  <h5>
                    <strong>I have room for:</strong>
                    <%= data.passengers %>
                  </h5>
                </section>

                <section class="col">
                  <h5>
                    <strong>Contact:</strong>
                    <%= data.phone_number %>
                  </h5>
                </section>

                <section class="w-100"></section>
                <section class="row">
                  <section class="col">
                    <h5>
                      <strong>Date Posted:</strong>
                      <%= data.date.toDateString() %>
                    </h5>
                  </section>
                  <section class="col">
                    <h5>
                      <strong>Time Posted:</strong>
                      <%= data.time %>
                    </h5>
                  </section>
                </section>
                <h5>
                  <strong>Message:</strong>
                  <%= data.message %>
                </h5>
              </section>

          </section>
        </section>
      </section>
      <br>
    </section>
    <%}%>
  </section>
  </section>
</main>
</section>


<% include partials/footer %>